div {
	font-size: calc(0.75vh + 0.75vw);
}
span {
	font-size: calc(0.75vh + 0.75vw);
}

p {
	font-size: calc(0.75vh + 0.75vw);
}
html {
	font-size: calc(0.75vh + 0.75vw);
}

div::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: transparent;
}

div::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #03DAC6;
	background-color: transparent;
}

body {
	font-family: "Roboto";
	font-size: "50%";
	line-height: "1em";
	margin: 0;
	overflow-y: hidden;
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
